@import url("/iconmaterial/icon.material.css");

:root {
  --form-small: 600px;
  --form-medium: 1000px;
  --form-large: 1200px;
  --form-full: calc(100vw - 40px);
}

html {
  overflow-y: auto;
  width: 100%;
}

body {
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
}

#main {
  display: flex;
  height: 100vh;
}

#sidebar {
  flex: none;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: #f4f4f4;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

#content {
  flex: none;
  width: calc(100% - 250px);
  height: 100vh;
  overflow-y: auto;
}


/* Bulma CSS */

hr {
  background: #dbdbdb;
  height: 1px;
}

strong {
  color: inherit;
}

.is-size-14 {
  font-size: 14px !important;
}

.is-vcentered {
  align-items: center;
}

.is-centered {
  justify-content: center;
}

.is-fullwidth {
  width: 100%;
}

.tag.is-medium {
  font-size: 14px !important;
  height: 30px;
}

.tag.is-grey {
  background-color: #6a6a6a;
  color: #fff;
}

.label {
  color: #565c7c !important;
  font-weight: 500;
  font-size: inherit;
}

.button.is-transparent {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

.button .is_count {
  background: #f14668;
  color: #fff;
  line-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 8px;
}

.select.is-transparent select {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

.select.is-dark select {
  background: #6d6c6c;
  color: #fff;
}

.select.is-primary select {
  background-color: #ebfffc;
  color: #00947e;
}

.select.is-link select {
  background-color: #eef3fc;
  color: #2160c4;
}

.select.is-info select {
  background-color: #eef6fc;
  color: #1d72aa;
}

.select.is-success select {
  background-color: #effaf3;
  color: #257942;
}

.select.is-warning select {
  background-color: #fffbeb;
  color: #947600;
}

.select.is-danger select {
  background-color: #feecf0;
  color: #cc0f35;
}

.select:not(.is-small) {
  font-size: 16px;
}

.checkbox,
.radio {
  display: inline-flex;
  align-items: center;
}

.checkbox input,
.radio input {
  margin-right: 0.5rem;
}

.input[readonly],
.textarea[readonly] {
  background: #f7f7f7;
}

.input.is-static {
  cursor: not-allowed;
  background-color: #f5f5f5;
  border-color: #dbdbdb;
  padding: calc(0.5em - 1px);
}
.input.is-static * {
  pointer-events: none;
}

.control {
  font-size: inherit;
}

.control.has-icons-left > .icon,
.control.has-icons-right > .icon {
  height: 100%;
}

.control.has-icons-left > a.icon,
.control.has-icons-right > a.icon {
  pointer-events: auto;
}

.field.is-grouped {
  align-items: center;
}

.buttons.is-right .button:last-child {
  margin-right: 0px !important;
}

a.tag:hover {
  text-decoration: none;
}

.icon.is-bordered {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.icon.is-rounded,
.image .is-rounded {
  border-radius: 50%;
}

.icon-text {
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
}

.icon-text.is-fullwidth {
  width: 100%;
}

.icon-text > *:not(.icon) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-text.is-multiline {
  align-items: flex-start;
}
.icon-text.is-multiline > *:not(.icon) {
  text-overflow: unset;
  white-space: normal;
}

.image.is-rounded {
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
}

.image.is-radius {
  border-radius: 8px;
  overflow: hidden;
}

.image img {
  object-fit: cover;
  height: 100%;
  max-height: none;
}

.image .tags {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.image .delete {
  position: absolute;
  right: 0px;
  top: 0px;
}

.content {
  word-wrap: break-word;
}

.content h1 {
  font-size: 1.75em;
}

.content h2 {
  font-size: 1.5em;
}

.content h3 {
  font-size: 1.4em;
}

.content img {
  width: 100%;
  display: block;
  margin: 10px 0px;
}

.columns.is-variable {
  margin: calc(-1 * var(--columnGap));
}

.columns.is-variable > .column {
  padding: var(--columnGap);
}

.columns.is_gap {
  margin-top: calc(-1 * var(--columnGap));
  margin-bottom: calc(-1 * var(--columnGap));
}

.columns.is_gap > .column {
  padding-top: var(--columnGap);
  padding-bottom: var(--columnGap);
}

.column.is-narrow {
  max-width: 100%;
}

.column.is-small {
  flex: none;
  width: var(--form-small);
}

.column.is-medium {
  flex: none;
  width: var(--form-medium);
}

.column.is-large {
  flex: none;
  width: var(--form-large);
}

.table > thead > tr > th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #7a7a7a !important;
  border-width: 1px 0px 0px;
  background: #f2f2f2 !important;
}

.table > thead > tr:not(.has-text-weight-semibold) > th {
  font-weight: normal;
}

.table.is-fullwidth {
  table-layout: fixed;
}

.table.is-vcentered td {
  vertical-align: middle;
}

.table td[valign="bottom"] {
  vertical-align: bottom;
}

.table.is-striped > tbody > tr:not(.is-selected):nth-child(odd) {
  background: #f1f7f7;
}

.table.is-striped > tbody > tr:not(.is-selected):nth-child(even) {
  background: none;
}

.table .checkbox input {
  margin-right: 5px;
}

.modal-card.is-small {
  width: var(--form-small);
}

.modal-card.is-medium {
  width: var(--form-medium);
}

.modal-card.is-large {
  width: var(--form-large);
}

.modal-card-head {
  justify-content: space-between;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-card-title {
  max-width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: var(--color-extra) !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 1.5;
  text-transform: uppercase;
}

.card-header-title {
  font-size: 18px;
}

.card-header-icon {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal-card-foot {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal-card-foot.is-right {
  justify-content: flex-end;
}

.modal-card-foot .field.is-grouped {
  width: 100%;
}

.card-content {
  padding: 1rem;
}

.dropdown.is-fullwidth,
.dropdown.is-fullwidth .dropdown-trigger {
  width: 100%;
}

.dropdown.is-active .dropdown-menu,
.dropdown.is-hoverable:hover .dropdown-menu {
  display: none;
}
.dropdown.is-active > .dropdown-menu,
.dropdown.is-hoverable:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  min-width: 100%;
}

.dropdown-content {
  max-height: 400px;
  overflow-y: auto;
}

a.dropdown-item,
button.dropdown-item {
  padding-right: 1rem;
  text-align: left;
  font-size: inherit;
}

.dropdown-item.icon-text {
  display: flex;
}

/* Custom CSS */

.scrollx {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.scrolly {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  scrollbar-color: #3d4160 #f1f1f1;
  scrollbar-width: thin;
}
.scrolly::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrolly::-webkit-scrollbar-track {
  background: #f9f9f9;
}
.scrolly::-webkit-scrollbar-thumb {
  background: #eaebeb;
}
.scrolly::-webkit-scrollbar-thumb:hover {
  background: #bebfbf;
}

.is_cover {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s;
}

.input_line {
  border: 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px dashed #828282;
  border-radius: 0px;
  outline: none;
  font-size: inherit;
  display: block;
  line-height: 1.5;
  box-shadow: none;
  padding: 3px 0px;
  width: 100%;
  color: #000;
}

.input_color {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input_color input {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.input_date > input {
  border: 0px !important;
  box-shadow: none !important;
  outline: none !important;
  font-size: inherit;
  display: block;
  height: 100%;
  width: 100%;
}


.is_break {
  word-break: break-word;
}

.text_inline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text_1_line:not(.is-show) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  height: 1.5em;
}

.text_2_line:not(.is-show) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3em;
}

.text_3_line:not(.is-show) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 4.5em;
}

.text_4_line:not(.is-show) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 6em;
}

.text_5_line:not(.is-show) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  height: 7.5em;
}

#notify {
  position: fixed;
  top: 12px;
  right: 12px;
  max-width: 400px;
  z-index: 100;
}

#notify .notification {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  font-size: 14px;
}

#connect {
  position: fixed;
  z-index: 99999;
  width: 280px;
  bottom: 10px;
  left: calc(50% - 140px);
  opacity: 0.8;
}

#connect .field {
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  border-radius: 999px;
}

#blazor-error-ui {
  display: none;
}

#components-reconnect-modal {
  background: rgba(0, 0, 0, 0.2) !important;
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
}

#components-reconnect-modal h5 {
  display: none;
}

#components-reconnect-modal button {
  font-size: 0px;
  font-weight: 600;
  border: 0px;
  color: #fff;
  background: #485fc7;
  padding: 9px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#components-reconnect-modal button::after {
  content: "Thử lại";
  font-size: 14px;
}


.table .td-label {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #8e8e8e;
  display: none;
  flex-grow: 0;
  padding-right: 5px;
}

.table .td-label.is-show {
  display: inline;
}


.table .td-label.is-show + .td-value {
  width: calc(100% - 80px);
  flex-grow: 1;
}


.table-container {
  overflow-y: auto;
}

.table-container > .table {
  width: max-content;
  min-width: 100%;
}

.table-container > .table > thead {
  position: sticky;
  z-index: 10;
  top: 0px;
  background: #f2f2f2;
  box-shadow: 0px 1px 0px 0px #dbdbdb;
}

.table-container th.sticky,
.table-container td.sticky {
  position: sticky;
  z-index: 9;
  background: #fff;
}

.table-container th.sticky:first-child,
.table-container td.sticky:first-child,
.table-container th.sticky.is-last,
.table-container td.sticky.is-last {
  box-shadow: inset -1px 0px 0px 0px #dbdbdb;
}

.table-container th.sticky:last-child,
.table-container td.sticky:last-child {
  box-shadow: inset 1px 0px 0px 0px #dbdbdb;
}



@media (max-width: 768px) {
  .table.is-responsive tr {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .table.is-responsive tbody tr {
    margin-bottom: 15px;
    border-top: 1px solid #dbdbdb;
  }

  .table.is-responsive tbody .tr-group,
  .table.is-responsive tbody tr:last-child {
    margin-bottom: 0px;
    box-shadow: none;
  }

  .table.is-responsive tr th,
  .table.is-responsive .td-hide {
    display: none !important;
  }

  .table.is-responsive tr th:first-child {
    display: flex !important;
    width: 100%;
  }

  .table.is-responsive td {
    display: flex !important;
    flex-wrap: wrap;
    width: 100%;
    border-width: 0px 0px 1px 0px !important;
    text-align: left;
  }

  .table.is-responsive .is-flex {
    width: 100%;
  }

  .table .td-label {
    display: block;
    width: 80px;
  }

  .table .td-value {
    width: calc(100% - 80px);
  }
}
